<h1><%= t('friends.header') %></h1>

<ul>
    <% @friends.each_slice(4) do |friend_group| %>
      <div class="row">
        <% friend_group.each do |friend| %>
              <div class="col s3">

                <%= link_to goal_countdown_path(1) do %>
                  <div class="friend">
                    <div>
                      <img class="circle" src=<%= friend.image_url.get %>>
                      <div><%= friend.name %></div>
                    </div>
                  </div>
                <% end %>
              </div>
        <% end %>
      </div>
    <% end %>
</ul>