<div class="center-align">
  <h2><%= t('home.welcome') %></h2>
  <div>
    <%= button_to t('home.cta'), user_facebook_omniauth_authorize_path, class: 'btn btn-default center-align waves-effect waves-light' %>
  </div>
</div>
